TOKEN=
MONGO=
TEST_BASE_CHANNEL_ID=-1001567163110
CABINET_SUD_X_TOKEN=
ME=5347896070
SECRET_JWT_KEY=
REFRESH_JWT_KEY=
CHROMIUM_PATH=C:/Program Files/Google/Chrome/Application/chrome.exe
NODE_ENV=development